@import './tailwind.css';

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat.woff) format('.woff');
  src: url(../assets/fonts/Montserrat.woff2) format('.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
}
