/* src/main.tsx 또는 src/index.tsx */
:root {
  --color-main-navy: #063579;
  --color-main-skyBlue: #60b5ff;
  --color-main-blue: #3b82f6;
  --color-lightGray: #e4e4e4;
  --color-darkGray: #434343;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkNavy: #202e48;
  --color-main-bg: #ffffff;

  /* focus */
  --color-lightGray-focus: #60b5ff;

  /* hover */
  --color-main-blue-hover: #063579;
  --color-main-navy-hover: #0b4e9c;
  --color-main-skyBlue-hover: #8ac8fb;
  --color-red: #dc0000;

  /* active */
  --color-main-navy-active: #001a40;
  --color-main-skyBlue-active: #3a94dc;

  /* 헤더 */
  --color-header: #f9fafb;

  /* 사이드바 */
  --color-sideBody: #ffffff;
  --color-notSelected: #989b9d;
  --color-selected: #3b82f6;
  --color-sidebar-text: #000000;

  /* 알림 사이드바 */
  --color-notice-bg: #ffffff;
  --color-notice-text: #000000;

  /* 게시글 작성 */
  --color-write-main-text: #000000;
  --color-tag: #777777;
  --color-image-bg: #d7e6ff;

  /* 게시글 */

  /* 필터 */
  --color-text-filter: #000000;
  --color-cost-text: #202e48;

  --color-post-bg: #ffffff;
  --color-post-text: #000000;
  --color-theme: #2a728c;
  --color-title: #063579;
  --color-subText: #838383;
  --color-border: #ebebeb;

  /* notFound */
  --color-notFound: #000000;

  /* 프로필 */
  --color-profile-text: #000000;

  /* 로딩 */
  --color-loading-bg: #ffffff;
}

.dark {
  --color-main-navy: #063579;
  --color-main-skyBlue: #60b5ff;
  --color-main-blue: #3b82f6;
  --color-lightGray: #e4e4e4;
  --color-darkGray: #434343;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkNavy: #202e48;
  --color-main-bg: #1d2635;

  /* focus */
  /* hover */
  /* active */

  /* 헤더 */
  --color-header: #0f172a;

  /* 사이드바 */
  --color-sideBody: #0f172a;
  --color-notSelected: #989b9d;
  --color-selected: #3b82f6;
  --color-sidebar-text: #ffffff;

  /* 알림 사이드바 */
  --color-notice-bg: #1d2635;
  --color-notice-text: #ffffff;

  /* 게시글 작성 */
  --color-write-main-text: #ffffff;
  --color-tag: #ffffff;
  --color-image-bg: #ffffff;

  /* 게시글 */

  /* 필터 */
  --color-text-filter: #ffffff;
  --color-cost-text: #60b5ff;

  --color-post-bg: #111827;
  --color-post-text: #ffffff;
  --color-theme: #070909;
  --color-title: #60b5ff;
  --color-subText: #ffffff;
  --color-border: #a6a5a5;
  --color-commentBox-open: #838383;

  /* notFound */
  --color-notFound: #ffffff;

  /* 프로필 */
  --color-profile-text: #ffffff;

  /* 로딩 */
  --color-loading-bg: #1d2635;
}
